
.topic-table-box{
  padding: 20px;
  .form-box{
    margin-bottom: 10px;
  }
  .ant-table-thead > tr > th{
    text-align: center;
  }
  .ant-table-tbody{
    background-color: #fff;
    text-align: center;
  }
  .topic-img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border:1px solid #eee;
  }

}
.topicAddModal{
  .form-item{
    margin-bottom: 10px;
  }
}


