.login-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #c9e0f5;
    .login-form{
        width: 300px;
        padding: 20px 20px 0px 20px;
        background-color: #fff;
    }
    .login-form-button{
        width: 100%;
    }
}

