.header-box{
  position: fixed;
  left: 250px;
  top: 0;
  right: 0;
  z-index: 9;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 0;
  justify-content: space-between;
  box-shadow: 1px 1px 1px #ddd;
  .right-continer{
    margin-right: 20px;
    .user-name{
      margin-right: 10px;
    }
  }
}
