@import '~antd/dist/antd.css';
.App {
  display: flex;
  width: 100%;
  flex-grow: 1;
  .layout-box{
    display: flex;
    .layout-content{
      flex: 1;
      flex-grow: 1;
      .content{
        margin: 20px;
      }
    }
  }
}

